<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kdea.reviewboard.ReviewDAO"> <!--이 sql 문장과 매핑될 인터페이스의 완전한 경로-->
	<select id="getList" resultType="org.kdea.vo.BoardVO">
			select t3.num,t3.title,t3.nickname,t3.w_date,t3.hit,t3.recommend,t3.contents from(
						select trunc((rn-1)/10+1) as page,t2.* from(
							select rownum rn,t1.* from(
					  			 select num,LPAD('└',(LEVEL-1)*2,'　')||title as title,nickname,w_date,hit,recommend,contents from reviewBoard start with ref=0 connect by prior num=ref order siblings by num desc
					  		) t1
						 )t2
					)t3 where page=#{page}
    </select>
      <select id="list" resultType="org.kdea.vo.BoardVO">
			select num, title,nickname,w_date,hit,recommend from reviewBoard 
					
    </select>
	<insert id="write" parameterType="org.kdea.vo.BoardVO">
        insert into reviewBoard (num, w_date, title, nickname, contents, shop_name, shop_add, hit, ref, recommend) 
        	values ( reviewBoard_num.NEXTVAL, sysdate, #{title}, #{nickname}, #{contents}, #{shop_name}, #{shop_add}, 0, 0, 0 )
    </insert>
    
    <select id="getMyNum" parameterType="org.kdea.vo.BoardVO" resultType="java.lang.Integer">
    	select max(num) as num from reviewboard where nickname=#{nickname}
    </select>
    <update id="userWritePoint" parameterType="org.kdea.vo.BoardVO">
    	update users set point=point+3 where nickname=#{nickname}
    </update>
    
    <select id="read" resultType="org.kdea.vo.BoardVO">
        select * from reviewBoard where num=#{num}
    </select>
    
	<select id="page" resultType="java.lang.Integer" >
        select ceil(COUNT(num)/10) as page from reviewBoard
    </select>
    
    <update id="updateHit">
        update reviewBoard set hit=hit+1 where num=#{num}
    </update>
    
    <insert id="commentWrite" parameterType="org.kdea.vo.CommentVO">
        insert into reviewComment (num, cnum, nickname, w_date, contents) 
        	values ( #{num}, reviewComment_num.NEXTVAL, #{nickname}, sysdate, #{contents} )
    </insert>
    <update id="userCommentPoint" parameterType="org.kdea.vo.CommentVO">
    	update users set point=point+1 where nickname=#{nickname}
    </update>
    
    <select id="getCommentList" resultType="org.kdea.vo.CommentVO">
        select c.num, c.cnum, c.nickname, c.contents, c.w_date from reviewBoard r INNER JOIN reviewComment c on r.num=c.num where r.num=#{num} order by c.cnum
    </select>
    
    <select id="getCommentCount"  resultType="java.lang.Integer" >
        select count(cnum) from reviewBoard r INNER JOIN reviewComment c on r.num=c.num where r.num=#{num}
    </select>
    
    <update id="commentModify" parameterType="org.kdea.vo.CommentVO">
        update reviewComment set contents=#{contents} where cnum=#{cnum} and num=#{num}
    </update>
    
    <delete id="commentDelete" parameterType="org.kdea.vo.CommentVO">
        delete from reviewComment where cnum=#{cnum}
    </delete>
    
    <delete id="reviewDelete" parameterType="org.kdea.vo.BoardVO">
        delete from reviewBoard where num=#{num}
    </delete>
    
    <delete id="reviewBoardCommentDelete">
        delete from reviewComment where num=#{num}
    </delete>
    
    <update id="reviewModify" parameterType="org.kdea.vo.BoardVO">
        update reviewBoard set title=#{title}, shop_name=#{shop_name}, shop_add=#{shop_add}, contents=#{contents}, w_date=sysdate where num=#{num}
    </update>
    
    <select id="spage" resultType="java.lang.Integer" parameterType="org.kdea.vo.SearchVO" >
    	select ceil(count(rownum)/10) as page from
					(
					select num,LPAD('└',(LEVEL-1)*2,'　')||title as title,contents,nickname,w_date from reviewBoard start with ref=0 connect by prior num=ref order siblings by num desc
					) t1 
					<where>
						<if test="type =='nickname'">
							nickname like '%'|| #{word} ||'%'
						</if>
						<if test="type =='title'">
							title like '%'|| #{word} ||'%'
						</if>
						<if test="type =='contents'">
							contents like '%'|| #{word} ||'%'
						</if>
					</where>
    </select>
    
    <select id="search" resultType="org.kdea.vo.BoardVO" parameterType="org.kdea.vo.SearchVO">
		select t3.num,t3.title,t3.nickname,t3.w_date from
			(
			select trunc((rn-1)/10+1) as page,t2.* from
				(
				select rownum rn,t1.* from
					(
					select num,LPAD('└',(LEVEL-1)*2,'　')||title as title,contents,nickname,w_date from reviewBoard start with ref=0 connect by prior num=ref order siblings by num desc
					) t1 
					<where>
						<if test="type =='nickname'">
							nickname like '%'|| #{word} ||'%'
						</if>
						<if test="type =='title'">
							title like '%'|| #{word} ||'%'
						</if>
						<if test="type =='contents'">
							contents like '%'|| #{word} ||'%'
						</if>
					</where>
				)t2
			)t3 where page=#{page}
    </select>
    
    <select id="checkRecommend" resultType="java.lang.Integer" parameterType="org.kdea.vo.BoardVO">
        select count(num) from reviewRecommend where num=#{num} and nickname=#{nickname}
    </select>
    
    <update id="updateRecommend" parameterType="org.kdea.vo.BoardVO">
        update reviewBoard set recommend=recommend+1 where num=#{num}
    </update>
    
    <insert id="updateUserRecommend" parameterType="org.kdea.vo.BoardVO">
        insert into reviewRecommend values ( #{num}, #{nickname} )
    </insert>
    <select id="getRecommendList" resultType="org.kdea.vo.BoardVO">
    	select t3.num,t3.title,t3.nickname,t3.w_date,t3.hit,t3.recommend from(
						select trunc((rn-1)/10+1) as page,t2.* from(
							select rownum rn,t1.* from(
					  			 select num,title,nickname,w_date,hit,recommend from reviewBoard order by recommend desc
					  		) t1
						 )t2
					)t3 where page=#{page}
    </select>
    
    <!-- <select id="list" resultType="org.kdea.mybatis.EmpVO">
        select * from emp2
    </select>
    <insert id="insert" parameterType="org.kdea.mybatis.EmpVO">
        insert into emp2 (empno, ename, deptno, job, sal) 
        	values ( #{empno}, #{ename}, #{deptno}, #{job}, #{sal} )
    </insert>
    <select id="info" resultType="org.kdea.mybatis.EmpVO">
        select * from emp2 where empno=#{empno}
    </select>
    <update id="update" parameterType="org.kdea.mybatis.EmpVO">
        update emp2 set deptno=#{deptno}, sal=#{sal} where empno=#{empno}
    </update>
    <delete id="delete" >
        delete from emp2 where empno=#{empno}
    </delete> -->
</mapper>