<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kdea.login.LoginDAO"> <!--이 sql 문장과 매핑될 인터페이스의 완전한 경로-->
    <select id="login" resultType="org.kdea.vo.UserVO">
    	SELECT * FROM USERS WHERE email = #{email}
    </select>
    
    <update id="modifyUserInfo" parameterType="org.kdea.vo.UserVO">
    	UPDATE USERS SET name = #{name}, nickname = #{nickname}, phone = #{phone} WHERE email = #{email}
    </update>
    
    <select id="checkNick" parameterType="org.kdea.vo.UserVO" resultType="org.kdea.vo.UserVO">
    	SELECT * FROM USERS WHERE nickname = #{nickname} and email != #{email}
    </select>
    
    <select id="searchId" parameterType="org.kdea.vo.UserVO" resultType="org.kdea.vo.UserVO">
    	SELECT * FROM USERS WHERE NAME = #{name} AND PHONE = #{phone}
    </select>
    
    <select id="searchPwd" parameterType="org.kdea.vo.UserVO" resultType="org.kdea.vo.UserVO">
    	SELECT * FROM USERS WHERE EMAIL = #{email} AND NAME = #{name} AND PHONE = #{phone}
    </select>
    
    <select id="checkPwd" parameterType="org.kdea.vo.UserVO" resultType="org.kdea.vo.UserVO">
    	SELECT * FROM USERS WHERE EMAIL = #{email} AND PWD = #{pwd}
    </select>
    
    <update id="tempPwd" parameterType="org.kdea.vo.UserVO">
    	UPDATE USERS SET pwd = #{pwd} WHERE email = #{email}
    </update>
    
    <update id="changePwd" parameterType="org.kdea.vo.UserVO">
    	UPDATE USERS SET pwd = #{pwd} WHERE email = #{email}
    </update>
</mapper>